@model IEnumerable<AppUser>
<h4>All users</h4>
<a class="btn btn-success mb-3" asp-action="Create">Create a new user</a>
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Id</th>
			<th>User name</th>
			<th>Email</th>
			<th>Update</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		@foreach (AppUser user in Model) {
			<tr>
				<td>@user.Id</td>
				<td>@user.UserName</td>
				<td>@user.Email</td>
				<td>
					<a class="btn btn-warning" asp-action="Edit" asp-route-id="@user.Id">Update</a>
				</td>
				<td>
					<a class="btn btn-danger" asp-action="Delete" asp-route-id="@user.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>