@model Student
<form asp-action="Edit">
	<div class="form-group mb-3">
		<label asp-for="@Model.FirstName"></label>
		<input type="text" asp-for="@Model.FirstName" class="form-control" />
	</div>
	<div class="form-group mb-3">
		<label asp-for="@Model.LastName"></label>
		<input type="text" asp-for="@Model.LastName" class="form-control" />
	</div>
	<div class="form-group mb-3">
		<label asp-for="@Model.DateOfBirth"></label>
		<input type="date" asp-for="@Model.DateOfBirth" class="form-control" />
	</div>
	<div>
		<input type="submit" class="btn btn-success" value="Update" />
	</div>
</form>